<!--{{ vrsta }}-->
<mat-tab-group jhiHideMe #ref="jhiHideMe" class="demo-tab-group" animationDuration="0ms">
  <mat-tab label="Specifikacije">
    <jhi-specifikacije [postupak]="sifra"></jhi-specifikacije>
  </mat-tab>
  <mat-tab label="Ponude">
    <jhi-ponude [postupak]="sifra"></jhi-ponude>
  </mat-tab>

  <mat-tab label="Vrednovanje">
    <jhi-vrednovanje [postupak]="sifra"></jhi-vrednovanje>
  </mat-tab>
  <mat-tab label="Prvorangirani">
    <jhi-prvorangirani [postupak]="sifra"></jhi-prvorangirani>
  </mat-tab>

  <mat-tab label="Nema ponudjenih partija">
    <jhi-hvale-ponude [postupak]="sifra"></jhi-hvale-ponude>
  </mat-tab>

  <!-- <div *ngIf="vrsta; else pregovaracki">
    <mat-tab label="Vrednovanje">
      <jhi-view-vrednovanje [postupak]="sifra"></jhi-view-vrednovanje>
    </mat-tab>
    <mat-tab label="Prvorangirani">
      <jhi-prvorangirani [postupak]="sifra"></jhi-prvorangirani>
    </mat-tab>
    <mat-tab label="Hvale ponude">
      <jhi-hvale-ponude [postupak]="sifra"></jhi-hvale-ponude>
    </mat-tab>
  </div>

  <ng-template #pregovaracki>
    <mat-tab label="Vrednovanje  ">
      <jhi-view-vrednovanje-pregovaracki [postupak]="sifra"></jhi-view-vrednovanje-pregovaracki>
    </mat-tab>

    <mat-tab label="Prvorangirani ">
      <jhi-prvorangirani-pregovaracki [postupak]="sifra"></jhi-prvorangirani-pregovaracki>
    </mat-tab>
    <mat-tab label="Hvale ponude">
      <jhi-hvale-ponude-pregovaracki [postupak]="sifra"></jhi-hvale-ponude-pregovaracki>
    </mat-tab>
  </ng-template> -->
</mat-tab-group>
