<div>
  <div>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <input hidden #fileInput type="file" id="file" />
      <mat-button-toggle *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_USER']" matTooltip=" Excel fajl" (click)="downloadExcel()"
        ><img src="../../../../content/images/icons8-microsoft-excel-48.png" alt="" />
      </mat-button-toggle>
      <mat-button-toggle *jhiHasAnyAuthority="'ROLE_ADMIN'" (click)="addNew()" (keyup.)="getSifraPostupka()" matTooltip="Dodaj novu ponudu"
        >Dodaj
      </mat-button-toggle>
      <mat-button-toggle *jhiHasAnyAuthority="'ROLE_ADMIN'" matTooltip="Napravi formu za unos Excel" (click)="obrazacExcel()"
        >Napravi Obrazac
      </mat-button-toggle>
      <mat-button-toggle *jhiHasAnyAuthority="'ROLE_ADMIN'" matTooltip="Nadji Excel fajl" (click)="fileInput.click()">
        Nadji Fajl
      </mat-button-toggle>
      <mat-button-toggle *jhiHasAnyAuthority="'ROLE_ADMIN'" matTooltip="Unesi Excel fajl" (click)="uploadFile()"
        >Dodaj Fajl
      </mat-button-toggle>

      <mat-button-toggle *jhiHasAnyAuthority="'ROLE_ADMIN'" matTooltip="Ukloni cijelu ponudu" (click)="open(content1)">
        Ukloni Ponudu</mat-button-toggle
      >
    </mat-button-toggle-group>

    <mat-form-field>
      <input matInput [(ngModel)]="sifraPonude" matInput placeholder="Sifra Ponude" (keyup)="nadjiPoSifriPonude()" />
      <button *ngIf="sifraPonude" matSuffix mat-icon-button aria-label="Clear" (click)="sifraPonudeNull()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="brojPartije" matInput placeholder="Broj Partije" (keyup)="nadjiPoPartiji()" />
      <button *ngIf="brojPartije" matSuffix mat-icon-button aria-label="Clear" (click)="brojPartijeNull()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <!-- <mat-form-field>
      <mat-label>Ponudjaci</mat-label>
      <mat-select formControlName="sifraPonudjaca">
        <mat-option></mat-option>
        <mat-option *ngFor="let foo of ponude.body?" [value]="foo.sifraPonudjaca">
          {{ foo.sifraPonudjaca }}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
  </div>
  <jhi-alert-error></jhi-alert-error>
  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="ponude?.body?.length === 0">
    <span>Nema zapisa Ponuda</span>
  </div>

  <table
    mat-table
    id="ExampleTable"
    matTableExporter
    [dataSource]="dataSource"
    matSort
    matSortStart="desc"
    #exporter="matTableExporter"
    matSort
    matSortStart="desc"
  >
    <ng-container matColumnDef="sifra postupka">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sifra Postupka</th>
      <td mat-cell *matCellDef="let element">{{ element.sifraPostupka }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="sifraPonude">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Sifra Ponude</th>
      <td mat-cell *matCellDef="let element">{{ element.sifraPonude }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="brojPartije">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Broj Partije</th>
      <td mat-cell *matCellDef="let element">{{ element.brojPartije }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="naziv proizvodjaca">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Proizvodjac</th>
      <td mat-cell *matCellDef="let element">{{ element.nazivProizvodjaca }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="zasticeni naziv">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Zasticeni naziv</th>
      <td mat-cell *matCellDef="let element">{{ element.zasticeniNaziv }}</td>
      <td mat-footer-cell *matFooterCellDef>{{ 'Ukupno ponuđena:' }}</td>
    </ng-container>
    <ng-container matColumnDef="jedinicna cijena">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Jedinicna cijena</th>
      <td mat-cell *matCellDef="let element">{{ element.jedinicnaCijena }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="ponudjena vrijednost">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ponudjena cijena</th>
      <td mat-cell *matCellDef="let element">{{ element.ponudjenaVrijednost }}</td>
      <td mat-footer-cell *matFooterCellDef>{{ ukupnaPonudjena }}</td>
    </ng-container>
    <ng-container matColumnDef="rok isporuke">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rok isporuke</th>
      <td mat-cell *matCellDef="let element">{{ element.rokIsporuke }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="sifra ponudjaca">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ponudjac</th>
      <td mat-cell *matCellDef="let element">{{ element.ponudjaci.nazivPonudjaca }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <!-- <div>
      <ng-container matColumnDef="kreirao">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Kreirao zapis</th>
        <td mat-cell *matCellDef="let element">{{ element.createdBy }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="zadnji izmjenio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Zadnji izmjenio</th>
        <td mat-cell *matCellDef="let element">{{ element.lastModifiedBy }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="datum kreiranja">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Datum</th>
        <td mat-cell *matCellDef="let element">{{ element.lastModifiedDate }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
    </div> -->

    <ng-container matColumnDef="selected">
      <th mat-header-cell *matHeaderCellDef>
        <mat-icon
          matTooltip="Obrisi selektovne partije"
          style="color: red"
          *jhiHasAnyAuthority="'ROLE_ADMIN'"
          id="izabrano"
          type="submit"
          (click)="open(content)"
          >delete</mat-icon
        >
      </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <section class="example-section">
          <mat-checkbox *jhiHasAnyAuthority="'ROLE_ADMIN'" class="example-margin" (click)="updateSelected(element.id)"></mat-checkbox>
        </section>
      </td>

      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="delete" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row; let i = index">
        <mat-icon style="color: red" *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit" (click)="deleteItem(i, row.id)">delete</mat-icon>
      </td>

      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="edit" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <mat-icon
          *jhiHasAnyAuthority="'ROLE_ADMIN'"
          id="edit"
          (click)="
            startEdit(
              element.id,
              element.sifraPostupka,
              element.sifraPonude,
              element.brojPartije,
              element.sifraPonudjaca,
              element.nazivProizvodjaca,
              element.zasticeniNaziv,
              element.ponudjenaVrijednost,
              element.rokIsporuke,
              element.jedinicnaCijena
            )
          "
          >edit</mat-icon
        >
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr class="heder" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>

  <mat-paginator class="mat-paginator-sticky" [pageSizeOptions]="[20, 30, 50, 100]" showFirstLastButtons> </mat-paginator>
</div>

<ng-template #content let-modal>
  <div class="modal-body">
    <h4>Dali ste sigurni da zeliet izbrisete selektovane partije</h4>
  </div>
  <div class="modal-footer">
    <button mat-button color="primary" (click)="modal.close('Save click')">NE</button>
    <button mat-button color="warn" (click)="deleteSelected()" (keyup)="getSifraPostupka()" (click)="modal.close('Save click')">DA</button>
  </div>
</ng-template>

<ng-template #content1 let-modal>
  <div class="modal-body">
    <h4>Dali ste sigurni da zelite izbrisete cijelu ponudu</h4>
  </div>
  <div class="modal-footer">
    <button mat-button color="primary" (click)="modal.close('Save click')">NE</button>
    <button
      mat-button
      color="warn"
      (click)="deleteSifra()"
      (click)="getSifraPostupka()"
      (click)="sifraPonudeNull()"
      (click)="modal.close('Save click')"
    >
      DA
    </button>
  </div>
</ng-template>
